.MyProjectButton{
    width: fit-content;
    height: fit-content;
    padding: 5px;
    font-size: 20px;
    border-bottom: 2px solid #fad02c;
    margin: 20px; 
}

.MyProjectButton:hover{
    background-color: rgb(234, 234, 234);
    border-radius: 10px;
    color: rgb(169, 169, 64);
}


.MyProjectField{
    margin: 50px; 
    display: flex;
    justify-content: center;
}


.projectInfoText{
    width: 400px;
    font-size: 21px;
}

.projectIMG{
    height: fit-content;
    width: fit-content;

    border-radius: 20px;
    margin-left: 40px;
}

.githubLink{
    font-size: 20px;
    color: rgb(169, 169, 64);
}

@media  (max-width: 780px) {
    .MyProjectButton{
        font-size: 15px;
    }

    .MyProjectField{
        flex-direction: column;
        margin: 0px; 
    }

    .projectInfoText{
        font-size: 15px;
        width: 100%;
        text-align: center;
    }
    .projectIMG{
        width: 100%;
        margin-left: 0px;
        border-radius: 10px;
        display: flex;
        justify-content: center;
    }
}