*{
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

.FirstSection{
    display: flex;
    justify-content: center;
    gap: 100px;
}

button{
    border: none;
    background-color: white;
}
/* 
main{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
} */

.header{
    width: fit-content; 
    height: 120px;
    border-bottom: 1.5px solid #fad02c;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.headerTitle{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
}

.navBar{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.navBarButton{
    font-size: 18px;
    
    
}

.navBarButton:hover{
    color: rgb(169, 169, 64);
}


.forMeInfo{
    width: 70%;
    height: fit-content;
    padding-top: 50px;
    font-size: 55px;
    display: flex;
    justify-content: center;
    gap: 110px;
   
}

.infoText1{
    width: 500px;
}

.infoText2{
    margin-top: 10px;
    font-size: 20px;
    color: gray; 
    width: 300px;
}

.myImages{
    height: 400px;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    border-radius: 10px;
    overflow-y: hidden;
    overflow-x: hidden;
}

.secondInfoText{
    
    font-size: 21px;
    text-align: center;
    color: grey;
}

.arrowIconDown{
    font-size: 70px;
    margin-top: 50px;
}


.Footer{
    margin-top: 20px;
    height: 200px;
    background-color: grey;
    display: flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: small;
}

#hashTag{
   
    font-size: 70px;
}

@media (max-width: 1300px) {
    .FirstSection{
        gap: 20px;
    }
    .infoText1{
        font-size: 35px;
        width: 200px;
    }
    .infoText2{
        font-size: 17px;
    }
    .myImages{
        height: 300px;
        width: 300px;
    }
    .headerTitle{
        font-size: 30px
    }

    .navBarButton{
        font-size: 15px;
    }

    .secondInfoText{
        font-size: 15px;
    }
}

@media  (max-width : 780px) {
    .headerTitle{
        font-size: 25px;
    }

    .header{
        flex-direction: row-reverse;
    }

    .FirstSection{
        display: flex;
        flex-direction: column;
    }

    .forMeInfo{
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 20px;
    }
}

