*{
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

button{
    border: none;
    background-color: white;
}

.header{
    width: 500px; 
    height: 120px;
    border-bottom: 1.5px solid rgb(221, 221, 95);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.headerTitle{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
}

.navBar{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.navBarButton{
    font-size: 18px;
    
    
}

.navBarButton:hover{
    color: rgb(169, 169, 64);
}


.forMeInfo{
    
    height: fit-content;
    padding-top: 50px;
    font-size: 55px;
    display: flex;
    justify-content: center;
    gap: 10%;
   
}

.infoText2{
    margin-top: 10px;
    font-size: 20px;
    color: gray; 
    width: 450px;
}

.myImages{
    height: 400px;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    border-radius: 10px;
    overflow-y: hidden;
    overflow-x: hidden;
}

.secondInfoText{
    width: 500px;
    font-size: 21px;
    text-align: center;
    color: grey;
}

.arrowIconDown{
    font-size: 70px;
    margin-top: 50px;
}